*{
  background-color: #0B1215;
}
.button1 {
  border: black;
  top: 50%;
  left: 50%;
}

@font-face {
  font-family: "virgil";
  src: url("Virgil_GS_Regular.ttf");
}

div {
  font-family: "virgil";
  font-size: 30px;
}

.big-button {
  font-size: 24px;
  padding: 40px 200px;
  background-color: grey;
  color: white;
  border: none;
  cursor: pointer;
  text-align: center;
  display: block;/
  /* margin: 0 auto;  */
}


.click-count {
  font-size: 18px;
  margin-top: 10px;
  text-align: center;
    color: white;
}

table {
  width: 200px;
  border-collapse: collapse;
  float: left;
  margin-right: 20px;
    color: white;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
    color: white;
}


th {
  background-color: #f2f2f2;
    color: white;
}

.wrapper {
  display: flex;
  flex-direction: row;
  column-gap: 46vh;
  color: white;
}

.everythingelse {
  display: flex;
  flex-direction: column;
  position: relative;
  row-gap: 10px;
  margin-top: 80px;
  color: white;
  width: 100%;
}
.TheClickButton{
  display: flex;
  flex-direction: column;
  color: white;
  width: 100%;

}
.leaderboard{
  display: flex;
  flex-direction: column;
    color: white;
}
.WebsiteButton{
  width: 400px;
  height: 80px;
  color: white;

}